<div class="panel panel-default">
    <div class="panel-body">
        <div class="container" id="notifications">
            <%= render @notifications %>
            
        </div>
    </div>
</div>