<div class="row">
    <div class="col-md-3">
        <%= render 'room_menu' %>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            
            <div class="panel-heading">
                Photos
            </div>
            
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset3 col-md-6">
                            <!-- PHOTOS UPLAODS -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>