<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">This Week's and Last 30 Days Revenue</div>
            <div class="panel-body">
                <div class="container text-center">
                    <% if @reservations.blank? %>
                        <h3>You don't have any reservations</h3><br/>
                        <%= link_to "Become a Host to earn income", new_room_path, class: "btn btn-normal" %>
                    <% else %>
                        <%= column_chart @this_week_revenue, colors: ["#00A699"] %>
                        <br />
                        <br />
                        <%= column_chart @this_month_revenue, colors: ["#00A699"] %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>