<div class="row">
    <div class="col-md-3">
        <div class="center">
            <%= image_tag avatar_url(current_user), class: "avatar-full" %>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><%= current_user.fullname %></div>
            <div class="panel-body">
                <ul class="sidebar-list">
                    <% if current_user.confirmation_token %>
                        <li>Email Address<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span> </li>
                    <% end %>
                    <% if current_user.provider %>
                        <li>Facebook<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span> </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <!-- Notification panel-->
        <div class="panel panel-default">
            <div class="panel-heading">Notifications</div>
            <div class="panel-body">
                
            </div>
        </div>
        
        <!-- Listings-->
        <div class="panel panel-default">
            <div class="panel-heading">Your Listings (<%= @rooms.length %>)</div>
            <div class="panel-body">
                <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>    
            </div>
        </div>
        
    </div>
</div>